#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 00%;
  min-height: 00%;
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 00%;
  padding: 20px;
}
